body {
	margin: 0;
	padding: 0;
	/*default test fonts for serif or sans*/
	/*font-family: "Georgia", "Times New Roman", Times, serif;*/
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 140%;
}

header {
	color: #404040;
/*	background-color: #333333;*/
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 20%, rgba(0,0,0,1) 100%);
	margin: 0;
	text-align: right;
	padding: 30px 0;
}

#logo h1 .grey {
	color:Tomato;
	font-size: 30px;
	font-weight: bold;
}

header #logo img {
	margin-left: 0px;
	margin-top: 0;
	float: left;
    padding: 10px;
    height: 120px;
    position: relative;
    top: -45px;
}

header h1 {
	float: left;
	margin: 0 0 0 10px;
	font-size: 20px;
}

#logo img:hover {
    box-shadow: 0 1px 3px 2px rgba(0, 140, 186, 0.5);
}

nav ul {
	margin-right: 70px;
}

nav ul li{
	display: inline-block;
	color: #ffffff;
	margin-right: 25px;
}

nav ul li a {
	color: #ffffff;
	text-decoration: none;
	padding: 0 3px 10px 3px;
	border-bottom: 2px solid rgba(255, 99, 71, 0);
}

nav ul li a:hover {
	color: #ffffff;
	text-decoration: none;
	border-bottom: 2px solid rgba(255, 99, 71, 1); 
}

main {
	background-color: grey;
	width: 100%;
	padding: 10px;
	margin: 0 auto;
	height: 820px;
}

article {
	float: left;
	font-size: 15px;
	margin: 0 60px 0 0;
	font-family: "Georgia", "Times New Roman", Times, serif;
	width: 45%;
}

#splash {
	width: 30%;
	margin: 20px 0 0 0;
}

#footer {
	font-size: 14px;
	text-align: center;
	background-color: #404040;
	color: #efeee7;
	margin: 15px 0 0 0;
	padding-top: 20px;
	border-bottom: 10px solid #000000;
/*	position: absolute;
    bottom: 0;
    left: 0;*/
}

#social li {
	display: inline-block;
	text-align: center;
	padding-bottom: 15px;
}